.row-10{width:67.3%;margin:2px auto;}
.scheduling_flwc{width:67.3%;margin:2px auto;}
.scheduling_flwc_bottom{margin-left:90px;}
.row-11{display:inline-block;text-align:center;height:11px;}
.scheduling_flwcName{width:67.3%;margin:2px auto;}
.scheduling_flwcName_title{margin-left:10px;}
.scheduling_flwc_bottomName{margin-left:90px;margin-top:-40px;}